// Position and spacing
$container_size: 1024px;
$standard_spacing: 13px;

// Text
$primary_text: white;
$secondary_text: black;
$default_font: "Raleway";

// Buttons
$bt_bg_color: #058283;
$bt_corner: 3px;